/* Quiz Container */
.majestic-quiz .quiz-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

/* Question */
.majestic-quiz .quiz-question {
	padding: 10px;
	/* border: 1px solid #ddd; */
	margin-bottom: 10px;
}

/* Answers */
.majestic-quiz .quiz-answer {
	padding: 10px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	cursor: pointer;
}

.majestic-quiz .quiz-answer label {
	margin-left: 10px;
}

/* Buttons */
.majestic-quiz .quiz-button {
	background-color: #0073e6;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

/* Navigation */
.majestic-quiz .quiz-navigation {
	text-align: right;
}

.elementor-control-repeater .elementor-repeater-add-control {
	display: none;
}

.majestic-quiz .quiz-progress-bar {
	width: 100%;
	height: 20px; /* Adjust the height as needed */
	background-color: #ccc; /* Background color of the progress bar container */
}

/* Inner progress bar */
.majestic-quiz .quiz-progress-bar-inner {
	height: 100%;
	width: 0;
	background-color: #4CAF50; /* Color of the filled portion of the progress bar */
	transition: width 0.3s; /* Smooth transition animation for width changes */
}